@page "/"

<div class="d-flex justify-content-center align-items-center" style="margin:12rem">
    <div class="card">
        <div class="card-body m-1">
            <h1>Bienvenido/a!</h1>
            <a class="btn btn-block btn-outline-primary" href="/Registrar-Suscripcion">Suscribase a nuestra revista</a>
        </div>
    </div>
</div>

@code {

}
