@page "/Registrar-Suscriptor"

@using Suscripcion_Encode.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS

<h3>Registrar Suscriptor</h3>

<FormSuscriptor suscriptor="suscriptor" OnValidSubmit="NuevoSuscriptor"
                ocultar="false"></FormSuscriptor>

@code {
    Suscriptor suscriptor = new Suscriptor();

    async Task NuevoSuscriptor()
    {
        string mensajeconfirma = $"¿Desea agregar nuevo suscriptor?";
        if (await JS.InvokeAsync<bool>("confirm", mensajeconfirma))
        {
            var respuesta = await Http.PostAsJsonAsync($"api/suscriptores", suscriptor);
            if (respuesta.IsSuccessStatusCode)
            {
                var mensaje = $"¡Suscriptor agregado con éxito!\n" +
                        $"Nombre de usuario: {suscriptor.NombreUsuario}\n" +
                        $"Contraseña: {suscriptor.Password}\n";

                await JS.InvokeVoidAsync
                    ("alert", mensaje);
                NavigationManager.NavigateTo("/Registrar-Suscripcion");
            }
            else
            {
                var mensaje = $"Error! Documento o Nombre de usuario ya utilizados.";
                await JS.InvokeVoidAsync("alert", mensaje);
            }
        }
    }
}
