@page "/Registrar-Suscriptor"

@using Suscripcion_Encode.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS

<h3>Registrar Suscriptor</h3>

<FormSuscriptor suscriptor="suscriptor" OnValidSubmit="NuevoSuscriptor"
                ocultar="false"></FormSuscriptor>

@code {
    Suscriptor suscriptor = new Suscriptor();

    async Task NuevoSuscriptor()
    {
        var confirmacion = await JS.InvokeAsync<bool>("confirmar", "¿Desea agregar nuevo suscriptor?",
        $"{suscriptor.TipoDocumento}:{suscriptor.NumeroDocumento}. Nombre Usuario: {suscriptor.NombreUsuario}", "question");
        if (confirmacion)
        {
            var respuesta = await Http.PostAsJsonAsync($"api/suscriptores", suscriptor);
            if (respuesta.IsSuccessStatusCode)
            {
                var mensaje = $"¡Suscriptor agregado!\n" +
                    $"Nombre de usuario: {suscriptor.NombreUsuario}\n" +
                    $"Contraseña: {suscriptor.Password}\n";

                await JS.InvokeVoidAsync("simple", "¡Éxito!", $"{mensaje}", "success");

                NavigationManager.NavigateTo("/Registrar-Suscripcion");
            }
            else
            {
                await JS.InvokeVoidAsync("simple", "Error", " Documento o Nombre de usuario ya utilizados.", "error");
            }
        }
    }
}
