@page "/Modificar-Suscriptor/{id:int}"
@using Suscripcion_Encode.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject IJSRuntime JS

<h3>Modificar Suscriptor</h3>

<FormSuscriptor suscriptor="suscriptor" OnValidSubmit="ModificarSuscriptor"
                ocultar="true"> </FormSuscriptor>

@code {
    [Parameter] public int id { get; set; }

    Suscriptor suscriptor = new Suscriptor();

    protected override async Task OnInitializedAsync()
    {
        suscriptor = await Http.GetFromJsonAsync<Suscriptor>($"api/suscriptores/{id}");
    }

    async Task ModificarSuscriptor()
    {
        var confirmacion = await JS.InvokeAsync<bool>("confirmar", "¿Seguro desea editar suscriptor?",
        $"{suscriptor.TipoDocumento}:{suscriptor.NumeroDocumento}. Nombre Usuario: {suscriptor.NombreUsuario}", "question");
        if (confirmacion)
        {
            var respuesta = await Http.PutAsJsonAsync($"api/suscriptores", suscriptor);
            if (respuesta.IsSuccessStatusCode)
            {
                await JS.InvokeVoidAsync("simple", "¡Éxito!", $"Suscriptor editado!", "success");

                NavigationManager.NavigateTo("/Registrar-Suscripcion");
            }
            else
            {
                await JS.InvokeVoidAsync("simple", "Error", "El nombre de usuario ya está utilizado", "error");
            }
        }
    }
}
